body {
  margin: 0;
  background-color: #f2f2f2;
}
header {
  position: fixed; /*stay as page scrolls */
  width: 100vw;
  height: 6vw;
  line-height: 6vw;
  color: white;
  background: #000;
}
header img {
  float: left;
  width:29.5vw; 
  height:3.75vw
  padding: 2vw;
  margin-top: 1.2vw;
}
#nav {
  position: fixed; 
  right: 2vw; /* links on right */
  top: -1.6vw; /* links in middle */
  margin: 0 auto;
  max-width: 98vw;
  font-family: helvetica, sans-serif;
} 
#nav ul li {
  float: left; /* pushes to left as add words */
  list-style: none; /* no bullet */
}
#nav ul li a {
  color: white; /* white links */
  text-decoration: none; /* no underline */
  padding: 0 10px; /* space btw words */
}
.digit, .operation, .bigButton {
  width: 6vw; 
  height: 6vw; 
  font-size: 25px; 
  font-family: helvetica, sans-serif; 
  border-radius: 0.5vw; 
}
.digit {
  background-color: #f2f2f2
}
.bigButton {
  width: 12.4vw;
  background-color: #3399ff
}
#outputScreen {
  width: 24.6vw; 
  height: 6vw; 
  text-align: right; 
  font-size: 50px; 
  font-family: Pocket Calculator, helvetica, sans-serif; 
  border-radius: 0.5vw; 
  margin: 0.3vw
}
#border {
  width:35vw; 
  height:44vw; 
  top: 20vw;
  border:0.2vw solid #8c8c8c; 
  background-color:#ffffff; 
  border-radius:3vw;
}
#shadow {
  width:26vw; 
  height:37.5vw; 
  box-shadow:0.3vw 0.3vw #8c8c8c;
}